<header>
    <div class="search-box">
        <input [(ngModel)]="searchbar" type="text" class="input-search" placeholder="Type to Search...">
        <button class="btn-search" (click)="search()"><img class="btn-search-img"
                src="https://cdn-icons-png.flaticon.com/512/149/149852.png" /></button>
        <button class="btn-user" (click)="userdata()"><img class="btn-user-image"
                src="https://cdn-icons-png.flaticon.com/512/23/23144.png" /></button>
    </div>
    <div id="submenu" class="submenu">
        <ul>
            <li>
                <button (click)="notimplementyet()" class="notinplemented" type="button">Perfil</button>
            </li>
            <li>
                <button (click)="notimplementyet()" class="notinplemented" type="button">Historial de compra</button>
            </li>
            <li>
                <button (click)="notimplementyet()" class="notinplemented" type="button">Datos de compra</button>
            </li>
            <li>
                <button (click)="support()" class="button-sop" type="button">Soporte técnico</button>
            </li>
            <li>
                <button (click)="acercade()" class="button-ace" type="button">Acerca de</button>
            </li>
            <li>
                <button (click)="logout()" class="button-log" type="button">Logout</button>
            </li>
        </ul>
    </div>
</header>