.infodiv {
    margin: 3em;
}

.infodiv h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-decoration-line: underline;
    color: white;
}
.infodiv h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    text-decoration-line: underline; 
    color: white;
}
.infodiv p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: white;
}
.subcon{
    margin-left: 1em;
}
.under{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: white;
}