<footer>
    <div id="container">
        <button (click)="onCLKsale()" id="sale" class="button_nonselect" type="submit"><img id="sale_icon"
                src="https://cdn-icons-png.flaticon.com/512/1374/1374174.png" /></button>
        <button (click)="onCLKhome()" id="home" class="button_nonselect" type="submit"><img id="home_icon"
                src="https://cdn-icons-png.flaticon.com/512/25/25694.png" /></button>
        <button (click)="onCLKcart()" id="cart" class="button_nonselect" type="submit"><img id="cart_icon"
                src="https://cdn-icons-png.flaticon.com/512/2838/2838838.png" /></button>
    </div>
</footer>