.container{
    margin-top: 15px;
    background-color: white;
    width: 105%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;

    
}
.container img{
    max-height: 160px;
    max-width: 200px;
}
.subcontainer{
    display: flex;
    flex-direction: column;
}
.subsubcontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-height: 1.5em;
}
.subsubsubcontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1em;
}
.subsubsubcontainer h3{
    padding-top: 15%;
    margin-left: .5em;
    margin-right: .5em;
}
.subsubcontainer img{
    max-width: 15px;
}
.subsubcontainer .button2{
    border: 1px solid black;
    background-color: #FFCE2B;
    border-radius: 50px 0 0 50px;
}
.subsubcontainer .button1{
    border: 1px solid black;
    background-color: #FFCE2B;
    border-radius: 0 50px 50px 0;
}

.container img{
    margin: .5em;
    width: 30vw;
    border-radius: 10px;
    border: 2px solid black;
}
h3{
    margin-top: 5px;
    font-size: 1.5em;
}