<div class="home">
    <div class="first-content">
        <p>Technology</p>
        <div class="subflex">
            <p>experts with</p>
            <p class="fivestars">5 stars</p>
        </div>
        <p class="p-service">service</p>
    </div>
    <br />
    <hr />
    <h2>Compromisos con el cliente</h2>
    <div class="firstmsg">
        <img src="https://cdn-icons-png.flaticon.com/512/4989/4989753.png" />
        <h3>Free returns, always</h3>
        <p>If you don't like something or it doesn't convince you, we don't want you to keep it, return it, free of
            charge, always.</p>
    </div>
    <div class="secondmsg">
        <img src="https://cdn-icons-png.flaticon.com/512/1067/1067555.png" />
        <h3>Free shipping from €50 always within 24 hours</h3>
        <p>Whenever the sum of your order exceeds €50, you will benefit from free shipping.</p>
    </div>
</div>